# Ambiente virtual (300MB - qualquer um reinstala com pip)
venv/

# Dados (Lakehouse inteiro - regenera rodando o pipeline)
data/

# Cache do Python
__pycache__/
*.pyc

# Cache do Spark/Delta
.ivy2/
spark-warehouse/
metastore_db/
derby.log

# Configs de IDE
.vscode/
.idea/
